.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--white-color);
  transition: border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.client-list-icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);

  .client-list-link:hover &,
  .client-list-link:focus & {
    fill: var(--accent-color);
  }
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 60px;
  height: 47px;
}

.logo-6 {
  width: 88px;
  height: 45px;
}
